@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900;9..40,1000&display=swap');
html, body, #root, .wrapper {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
  }

:root {
    font-family: 'DM Sans', sans-serif;  
}

button, a {
    font-family: 'DM Sans', sans-serif;
    font-weight: 600;
}

.header-container {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 12px;
    width: calc(100% - 24px);
}

.header-logo {
    height: 40px;
}

.login-btn {
    font-size: 1rem;
    background: transparent;
    border: none !important;
    text-decoration: none;
    color: white;
}

.login-btn:hover {
    color: rgb(165, 165, 165)
}

.homepage-container {
    height: calc(100% - 64px);
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.left-container,
.right-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

.large-logo {
    width: 60%;
}

.description {
    font-size: 1rem;
    color: white;
    font-weight: 500;
    text-align: left;
}

.large-btn {
    background: none;
	padding: 0;
	font: inherit;
    color: white;
	cursor: pointer;
    width: 200px;
    height: 50px;
    border: 2px solid white;
    border-radius: 400px;
    background-color: black;
    text-decoration: none;
    margin: 32px;
}

.large-btn:hover {
    scale: 1.1;
    color: rgb(165, 165, 165);
    border: 2px solid rgb(165, 165, 165);

}

.soundwave {
    rotate: 45deg;
    width: 75%;
}

@media only screen and (max-device-width: 700px){
    .left-container {
        width: 100%;
    }
    .right-container {
        display: none;
    }
}