.loading-screen-container {
    height: calc(100% - 64px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 32px;
}

.loading-sub-text {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
}

@media only screen and (max-device-width: 700px){
    .loading-sub-text {
        font-size: 1rem;
        font-weight: 600;
        text-align: center;
    }

    .loading-gif {
        width: 80%;
    }
}